.carousel {
    margin-top: -5.5rem;
    height: 20rem;
}

.carousel-about{
    background-color: rgb(179, 253, 228);
    color: black;
    height: 100%;
}

.slide{
    height: 20rem;
}

.slide-about{
    position: relative;
    left: 60%;
    margin-top: 5%;
    height: 10rem;
    border-radius: 20%;
}
.caption{
    padding-right: 20rem;
}
.carousel-inner{
    height: 100%;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: .5rem;
    font-size:larger;
    font-weight: bolder;
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 14rem;
    left: 10rem;
    z-index: 3;
}

.categories{
    height: 20rem;
    background-color: black;
    display: flex;
    align-items: center;
}

.images{
    position: relative;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
img{
    height: 10rem;
}